@import "../base";

body {
    background-color: $color-secondary;
}
.ScrollCarousel .ScrollCarousel-Items {
    position: relative;
    display: flex;
    overflow-x: auto;
    width: 100%;
    overflow-y: hidden;
    padding-bottom: 5px;
    scrollbar-color: $color-secondary $color-secondary;
    scrollbar-width: thin;
}

.ScrollCarousel-Items::-webkit-scrollbar {
    width:5px;
    height: 5px;
}
.ScrollCarousel-Items::-webkit-scrollbar-thumb {
    background: $color-secondary;
    border-radius: 13px;
    @media ( min-width: 750px ) {
        background: rgba(226, 226, 226, 0.57);
    }
}
.ScrollCarousel-Items::-webkit-scrollbar-track {
    background: $color-secondary;
    @media ( min-width: 750px ) {
        background: rgba(255, 255, 255, 0.541);
    }
}

.disable-select {
    user-select: none; /* supported by Chrome and Opera */
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
}

.title_ghorfeh {
    color: $text-secondary;
}

.div_border_futher_image_monitoring {
    border: 1.7px solid $color-user;
}
.see_all{
    color: $color-user;
}
.price_comodity{
    background-color: #EF4F4F;
}
.sub_text_como {
    font-size: 8px;
    color: #f48585;
    @media ( min-width: 550px ) {
        font-size: 14px;

    }
}
.sub_price_como{
    font-size: 8px;
    color: #f8b1b1;
    @media ( min-width: 550px ) {
        font-size: 14px;
    }
}
.como_img{
    min-width: 80px;
    max-width: 90px;
    @media ( min-width: 550px ) {
        min-width: 180px;
        max-width: 190px;
    }
}
.sub_text_top_como{
    font-size: 8px;
    color: #9ac0a7;
    @media ( min-width: 550px ) {
        font-size: 14px;
    }
}
.sub_price_top_como{
    font-size: 8px;
    color: #8c8c8c;
    @media ( min-width: 550px ) {
        font-size: 14px;
    }
}
//nav
.nav{
    width: -webkit-fill-available;
    @media (min-width: 767px) {
        
        width: inherit !important;
    }
}
.tab{
    -webkit-box-shadow: 0px 0px 13px 1px rgba(0,0,0,0.49); 
    box-shadow: 0px 0px 13px 1px rgba(0, 0, 0, 0.226);
    background-color: #fff;
}
.text-tab{
    color: #A5A5A5;
    font-size: 10px ;
    text-shadow: 0px 0px #A5A5A5;
    margin-top: 5px;
    @media (min-width:450px)and(max-width:500px) {
        font-size: 12px ;

    }
    @media (min-width:500px)and(max-width:600px) {
        font-size: 14px ;

    }
    @media (min-width:600px) {
        font-size: 16px ;

    }
}
.text-tab_active{
    color: #7DA78B;
    font-size: 10px ;
    text-shadow: 0px 0px #A5A5A5;
    margin-top: 5px;
    @media (min-width:450px)and(max-width:500px) {
        font-size: 12px ;

    }
    @media (min-width:500px)and(max-width:600px) {
        font-size: 14px ;

    }
    @media (min-width:600px) {
        font-size: 16px ;

    }
}
.icon_size_1{
    width: 20px;
    height: 22px;
    @media (min-width:450px)and(max-width:500px) {
        width: 26px;
        height: 28px;
    }
    @media (min-width:500px)and(max-width:600px) {
        width: 32px;
        height: 35px;
    }
    @media (min-width:600px) {
        width: 40px;
        height: 45px;
    }
}

.icon_size_3{
    width: 20px;
    height: 22px;
    @media (min-width:450px)and(max-width:500px) {
        width: 26px;
        height: 28px;
    }
    @media (min-width:500px)and(max-width:600px) {
        width: 32px;
        height: 35px;
    }
    @media (min-width:600px) {
        width: 37px;
        height: 41px;
    }
}

.home {
    background-color: #fff;
     border-radius: 100%;
    box-shadow:        -2px -21px 10px 0px #3232322a;
    -webkit-box-shadow:-2px -21px 10px 0px #3232322a;
    -moz-box-shadow:   -2px -21px 10px 0px #3232322a;
}
